header {
    // background:rgb(95, 140, 185);
    background: black;

    a{
        font-size: 2em;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: .5em;
                    font-size: 1.1em;

                    &:hover {
                        // background: rgb(2, 69, 121);
                        background: gray;
                    }
                }
            }
        }
    }
}