@import url("https://fonts.googleapis.com/css?family=Noto+Serif");

body, html {
    background-color: rgb(209, 223, 243);
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Noto+Serif';
    font-size: 20px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0.8em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    // padding: 0em;
}