h1{
    font-size: 2em;
    text-align: center;
    font-weight: .5px;
    line-height: 0.5em;

    img{
        font-weight: normal;
        font-size: 0.5em;
        max-width: 100%;
        border-radius: 10%;
    }

    p{
        text-align: center;
        font-size: 0.5em;
        font-weight: normal;
        line-height: 1.2em;
    }
}

div{
    text-align: center;   
}

.buttons{
    align-self: center;
    background-color: black;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block;
    margin: 10px;

    &:hover{
        // background-color:  rgb(2, 69, 121);
        background-color: gray;
        color: white;
    }
}
