<div>
  <h1> About <br>
    <img src="assets/img/Lost_In_the_Nature.jpg" alt="&quot;Look deep into nature and you will understand everything better.&quot; Albert Einstein" style="width:300px;height:400px;" vspace="15">
    <p> University of Toronto <br> Second Year Computer Science and Physics Major </p>
  </h1>
  <div>
    <a class="button" href="https://drive.google.com/file/d/1_M_1mTQFlMnhex5IgxcKrn5iXf7zUMhL/view?usp=sharing">Resume</a>
    <a class="button" routerLink="/contact" >Contact</a>
  </div>
  <h2> Projects</h2>
  <p>Will be updated soon!</p>
</div>
